
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/slnx.sqlite-journal
.vs/WWHDR-Config-loader/FileContentIndex/4bc6c1ae-4f84-4f98-95b8-757de28fbb2b.vsidx
.vs/WWHDR-Config-loader/FileContentIndex/81446588-c7ef-49a8-9af2-fcca27986f45.vsidx
obj/Debug/WWHDR Permaloader.csproj.AssemblyReference.cache
obj/Release/WWHDR Permaloader.csproj.AssemblyReference.cache
obj/Debug/WWHDR Permaloader.csproj.AssemblyReference.cache
.vs/WWHDR-Config-loader/FileContentIndex/7529a884-e873-40b5-98dc-a9da13c92f48.vsidx
.vs/WWHDR-Config-loader/FileContentIndex/a0904623-596d-4b5d-9b24-7ae89a9100dc.vsidx
/.vs
/bin
/bin
